html
  head
    link(
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css"
      integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" 
      crossorigin="anonymous"
    )
    link(
      href="/css/style.css"
      rel="stylesheet"  
    )
    meta(charset='utf-8')
    title Practica
  body.bg-success
    .container
      .jumbotron.space-top.text-muted
        h1.display-3 Hola #{nombre}
        hr.m-y-2
        p Espero que les halla gustado, para terminar te voy a dejar con algo de magia
        form(action="/#{nombre}", method="POST")
          .input-group.input-group-lg
            input.form-control(
              type="text"
              name="userName"
              placeholder="ingresa tu nombre"
            )
          input.btn.btn-primary.space-top(
            type="submit",
            value="Enviar"  
          )
